:root {
    --main-color: ;
    --sub-color: rgb(98, 164, 204);
    --light-sub-color: rgb(98, 164, 204);/*rgb(165, 223, 243);--*/
    --sub-badge-url: url("../img/rose2.PNG");
    --logo-url: url("../img/wkgml1.png");
}
